<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Helo Vue</title>
	<script src="https://unpkg.com/vue"></script>
</head>
<body>

<div id="myapp">
  {{ message }}
  <input v-model="name" />
  <input v-model="nama" />
  <button @click="addName" v-bind:title="title">Add</button>
  <p>Anda menulis: {{ name }}</p>
  <ul>
  	<li v-for="n in lalala" v-text="n"></li>
  </ul>
</div>

<script>
Vue.config.devtools = true;

var app = new Vue({
  el: '#myapp',
  data: {
    message: 'Hello Vue!',
    name: '',
    lalala: ['si Tampan','Si Manis','Si Cool'],
    nama: '',
    title: 'Title from Vue',
  },
  methods: {
  	addName() {
  		this.lalala.push(this.nama);
  	}
  }
})
</script>
</body>
</html>